<h1><%= @post.title %></h1>
<p><i>by <%= @post.user.name %></i><p>

<p><%= @post.content %></p>

<p>Last updated: <%= @post.updated_at.strftime("%m/%d/%Y") %></p>

<hr />
<h2>Comments</h2>

<h5><%= @user.name %>, comment on this post</h5>
<%= simple_form_for @post do |f| %>
  <%= f.simple_fields_for :comments, @newcomment do |nc| %>
	<p>
	  <%= nc.input :content, :as => :text, :label => false, :input_html => { :class => "span6", :rows => 6} %>
	</p>
  <% end %>
	<p>
	  <%= f.submit "Comment", { :class => "btn btn-success" } %>
	</p>
<% end %>

<hr />
<table class='table table-striped'>
	<% @comments.each do |comment| %>
		<tr>
		  <% if comment.user_id.nil? %>
		    <td>name withheld</td>
		  <% elsif comment.user.postanonymous = true %>
		    <td>Anonymous</td>
		  <% else %>
		    <td><%= link_to comment.user.name, user_comments_path(comment.user) %></td>
		  <% end %>
		    <td><%= comment.content %> (posted at <%= comment.created_at.strftime("%m/%d/%Y") %>)</td>
		</tr>
	<% end %>
</table>
<hr />
<p>
	<% if can? :update, @post %>
	  <%= link_to 'Edit this post', edit_post_path, { :class => "btn btn-warning" } %>
	<% end %>
</p>
<p></p>
<p><%= link_to "<- Back to All Posts", posts_path, { :class => "btn btn-primary" } %></p>
