<div id="content">
  <input type="button" value="Hide" id="toggleButton" style="float:right;">
  <h2><%= @post.title %></h2>
	<p id="sigline">by <%= @post.user.name %></p>

	<p id ="bodycontent"><%= @post.content %><br />

	Last updated: <%= @post.updated_at.strftime("%m/%d/%Y") %></p>
</div>

<div id="newcomment">
	<h2>Comments</h2>

	<h5><%= @user.name %>, comment on this post</h5>
	<%= simple_form_for @post do |f| %>
		<%= f.simple_fields_for :comments, @newcomment do |nc| %>
		<p>
			<%= nc.input :content, :as => :text, :label => false, :remote => true, :input_html => { :class => "span6", :rows => 6} %>
		</p>
		<% end %>
		<p>
			<%= f.submit "Comment", { :class => "btn btn-success" } %>
		</p>
	<% end %>
</div>

<div id="commentlist"><%= render 'comments' %></div>

	<hr />
	<p>
		<% if can? :update, @post %>
			<%= link_to 'Edit this post', edit_post_path, { :class => "btn btn-warning" } %>
		<% end %>
	</p>
	<p></p>
	<p><%= link_to "<- Back to All Posts", posts_path, { :class => "btn btn-primary" } %></p>